body,
    html {
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgb(234, 248, 251);
    }
    body::-webkit-scrollbar {
      display: none;
    }
    #Nt{display: none;
      width: 100%;
    height: 100%;
    }
    #container {
      width: 100%;
      height: 100%;
    }
    #header {
      width: 100%;
      margin: 0;
      display: flex;
      position: fixed;
    }
    #head {
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    #title {
      color: #000;
      animation: movetitle 10s infinite linear;
    }
    @keyframes movetitle {
      from {
        transform: translateX(1800px);
      }
      to {
        transform: translateX(-600px);
      }
    }
    #chat {
      height: 85%;
      width: 100%;
      overflow-y: scroll;
      position: relative;
      top: 10%;
    }
    #messages {
      list-style: none;
      display: inline-block;
    }
    li {
      padding: 10px;
      margin: 5px 0;
      border-radius: 10px;
      background: #fff;
    }
    #chat::-webkit-scrollbar {
      display: none;
    }

    #message-form {
      background: rgb(171, 202, 207, 0.2);
      padding: 0.25rem;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-around;
      bottom: 0;
      height: 3rem;
      box-sizing: border-box;
      backdrop-filter: blur(10px);
    }
    #input {
      border: none;
      border-radius: 2rem;
      padding-left: 20PX;
      width: 85%;
      height: 80%;
      font-size: 1em;
      margin: auto 0;
    }
    #send_btn {
      width: 80px;
      height: 40px;
      border-radius: 10px;
      border: none;
      background: #fff;
      transition: 0.15s ease-in;
    }
    #send_btn:hover {
      background: #97b6b1;
      transform: scale(1.01);
    }