/* 폰트 및 전체 윤곽 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(234, 248, 251);
}

/* 전체 박스 */
#real_all{
    width: 100%;
    height: 100%;
}
#All{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 로고 */
#loading_whale{
    width: 1000px;
    height: 500px;
}
#up{
    margin-top: -2%;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

/* 로딩부분 */
#sub{
    margin-top: 1%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
#loading_cl{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
#loading_cl > div {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    margin-right: 2%;
    background-color: black;
    transform: scale(0);
    animation: clDotAnimation 2s infinite;
}
#loading_cl #cl01 {
    margin-left: 1.5%;
    animation-delay: 0s;
}
#loading_cl #cl02 {
    animation-delay: 0.4s;
}
#loading_cl #cl03 {
    animation-delay: 0.8s;
}
#loading_cl #cl04 {
    animation-delay: 1.2s;
}
@keyframes clDotAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}